.loginComponentBlock{
    border: 2px solid rgba(0, 0, 0, .25);
    border-radius: 20px;
    padding: 20px;
}

.loginComponentBlock h1 {
    font-weight: 400;
    color: var(--orange-color);
    font-size: 25px;
    margin: 0;
}

.loginForm{
    text-align: center;
    max-width: max-content;
    margin: 0 auto;
}

.loginLabel{
    display: block;
    margin-top: 15px;
    font-size: var(--bigger-space);
    text-align: left;
}

.loginInput{
    display: block;
    height: 30px;
    padding: 8px;

    border: 2px solid rgba(0, 0, 0, .25);
    border-radius: 10px;

    margin-top: 8px;
    font-size: 20px;
}

.loginInput:focus{
    outline: none;
    border: 2px solid var(--orange-color);
}

.errorMessage {
    white-space: pre;
    max-width: 50px;
    font-size: 15px;
    margin: 3px 0;
    padding: 0;
    color: rgba(0, 0, 0, .5);
}

.helper {
    text-align: left;
    text-decoration: none;
    display: block;
    color: rgba(0, 0, 0, .8);
    margin-top: 4px;
}

.loginButton {
    width: 100%;
    margin: 10px auto;
    padding: 10px 0;
    border: none;
    border-radius: 6px;

    background-color: var(--orange-color);
    color: white;
    cursor: pointer;
}

.loginButton:hover{
    background-color: var(--orange-darker-color);
}

.authSelectButtons {
    display: flex;
    justify-content: space-around;
}

.authSelect {
    font-size: 15px;
    width: 50%;
    border: 1px solid transparent;
    padding: 5px;
    transition: 0.3s;
}

.authSelectLeft {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.authSelectRight {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.authSelect:hover {
    border: 1px solid var(--orange-color);
}

.authButtonNoSelection {
    background-color: aliceblue;
}

.authButtonSelection{
    background-color: var(--orange-color);
    color: white;
}